<div>
    <h1>Bienvenido al formulario</h1>

    <h2>Ingrese su producto</h2>

    NOMBRE:<input type="text"><br>
    
    <br>PRECIO: <input type="text"><br>

  <br>FOTO/URL:<input type="text"><br>

    <br><button>Enviar</button>
</div>