
<a href='/productos'>
  <button>VER TODOS LOS PRODUCTOS</button>
</a>

<h2>Añadi un producto nuevo</h2>

<form action='/productos' method='POST' content-type='application/json'>
  <label>Tipo/Color</label>
  <input type='text' name='title' placeholder='example: Buzo Amarillo' required />

  <label>Precio</label>
  <input type='number' name='price' placeholder='example: 5000' required />

  

  <button>Añadir producto/button>
</form>
