        {{#if getAllProducts}}
            {{#each getAllProducts}}
                    <div>                
                    <h3>{{this.title}}</h3>
                    <p>{{this.price}}</p>
                   
                </div>
            {{/each}}
        {{else}}
            <h2>No hay productos</h2>
        {{/if}}